@import "./bootstrap.css";
@import "./app.css";
@import "./icon.css";

.ck-file-dialog-button{
    display: none;
}
.react-datepicker-wrapper{
    display: unset !important;
}

.vr {
    width: 2px !important;
}